.HW1 {
    position: absolute;
    top:80%;
    left: 10%;
}

.string {
    color:white;
    text-align: center;
    width:100px;
    height: 20px;
    padding:5px;
    border-bottom: solid black 3px;
}	
/* Первый способ */
.first {
        position: absolute;
        height: 400px;
    }   
.btn{    
    border:solid black 3px;
    border-radius: 5px;
    width:160px;
    height: 50px;
}
#stringTop{
    position: relative;
    left:5px;
    height:20px;
    background-color: white;
    color:white;
    display: inline;
    z-index: 3; 
}
.menu {
    position: relative;
    border: solid black 3px;
    border-radius: 10px;
    width:110px;
	background:blue;
    top:-9px;    
    z-index:2
}

.menuD{
    display:none;
    width: 160px;
}
.btn:hover~.menuD{
    display:block;
}
.menuD:hover{
    display:block;
}

/* Второй способ */
.second {
    position: absolute;
    float: right;
    left: 220px;
}    
.triangle {
     width: 0;
     height: 0;     
     position: relative; 
     left:35px;
     border-left: 14px solid transparent;
     border-right: 14px solid transparent;
     border-bottom: 14px solid black;
     z-index: 3;
}
.triangle::after {
    content: ''; 
    position: absolute;    
    left:-14px;
    top: 5px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid blue;
}
.btn2{    
    border:solid black 3px;
    border-radius: 5px;
    width:160px;
    height: 50px;
}
.menu2 {
    position: relative;
    border: solid black 3px;
    border-radius: 10px;
    width:110px;
	background:blue; 
     }
.menu2D{
    display:none;
}
.menu2D:hover{
    display:block;
}
 .btn2:hover~.menu2D{
    display:block;
}